.contant{background:red;
                font-size:300%;
                 width:20%;
                   margin-left:30%;}
.circle2{margin-right:40%;
margin-top:-20%;
font-size:200%;}
.circle1{
             background-image:url("17.jpg");
              width:40%;
             height:55%;
                   border-radius:300%;
            margin-left:60%;
}
.class{font-size:500%;
                 width:20%;
                   }
.photo{width:100%;
             height:40%;
              background:black;


}
.photo1{    width:18%;
             height:70%;
               background:red;
              margin-left:5%;
             background-image:url("31.jpg");
}
.sim{  width:15%;
             height:70%;
             background:blue;
             margin-left:30%;
         margin-top:-12%;
background-image:url("19.jpg");
}
.photo2{width:15%;
	height:70% ;
	background:yellow;
          margin-left:55%;
       margin-top:-12.5%;
background-image:url("35.jpg");    
}
.hlo{font-size:500%;
        margin-left:80%;
margin-top:-10%;
}
.gg{    width:100%;
             height:68%;
background:black;  
  }
.ff{background-image:url("41.jpg"); 
      width:45%;
      height:100%;}  
.ee{width:50%;
      background:yellow;
      height:100%;
margin-left:50%;
margin-top:-30.5%;
font-size:180%;
}
.insta{height:300px;
           width:400px;
background:white;}

     






